@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@500&display=swap');

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    max-width: 1400px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.text {
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

.text_heading {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

/*Header*/
.header {
    background: url(../images/background_header.jpg) no-repeat;
    min-height: 715px;
}

.header__top {
    display: flex;
}

.logo {
    margin: 38px 0 0 100px;
}

.header__menu {
    display: flex;
    list-style-type: none;
    margin-top: 38px;
    margin-right: 100px;
}

.header__menu {
    font-size: 16px;
    line-height: 20px;
    color: #533738;
}

.header__menu a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #533738;
}

.header__menu li:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #CC8B86;
}

.header__menu a:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #CC8B86;
}

.header__menu li {
    margin-right: 26px;
}

.header__menu li:first-child {
    margin-right: 89px;
}

.header__menu li:last-child {
    margin-right: 0;
}

.header__main {
    margin-left: 185px;
}

.header__main h2 {
    font-weight: normal;
    font-size: 50px;
    line-height: 62px;
    color: #533738;
    margin: 94px 0 24px 0;
    max-width: 534px;
}

.header__main p {
    max-width: 494px;
}

.header__button {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
    background: #CC8B86;
    padding: 25px 66px 24px 68px;
    margin: 21px 0 168px 0;
}

.header__button {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.header__button:hover {
    box-shadow: 0 0 40px 40px #8D7370 inset;
    color: #FFFFFF;
    border-radius: 10px;
}

.about_us h2 {
    color: #533738;
    margin-top: 65px;
    text-align: center;
}

.about_us__main {
    display: flex;
    padding: 40px 182px 10px 184px;
}

.about_us__main__text {
    max-width: 528px;
    padding-left: 62px;
}

.about_us__main img {
    max-width: 445px;
}

.about_us__bottom {
    display: flex;
    justify-content: space-between;
    padding: 85px 180px 81px 182px;
    background: #8D7370;
}

.about_us__num {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    max-width: 190px;
    text-align: center;
}

.about_us__str {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.our_work {
    padding: 65px 100px;
}

.our_work h2 {
    color: #533738;
    margin-bottom: 40px;
}

.our_work__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.our_work__main1 {
    max-width: 488px;
    max-height: 451px;
}

/*Стилизация при наведении на изображение*/
.our_work__main1 {
    position:relative; 
    top:0; 
    left:0;
}

.our_work__main1 img {
    position:absolute; 
    top:0; 
    left:0;
}

.our_work__main1 img.two {
    opacity:0;
}

.our_work__main1 img.two:hover {
    opacity:1;
}

.our_work__main3, .our_work__main4 {
    margin-top: 30px;
}

.our_work__arrow {
    display: flex;
    margin: 40px auto 0;
}

.our_work__arrow p {
    margin-right: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #533738;
}

.our_work__arrow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.team {
    background: #E2C4BA;
}

.team h2 {
    color: #533738;
    text-align: center;
}

.team h2:first-child {
    padding-top: 50px;
}

.team__card_box {
    display: flex;
    margin: 42px auto 35px;
    max-width: 1040px;
}

.card {
    max-width: 320px;
}

.card-2 {
    margin-right: 38px;
    margin-left: 38px;
}

.card p {
    color: #533738;
    margin-top: 10px;
}

.team__work_card_box {
    display: grid;
    padding: 20px 100px 80px;
    text-align: center;
    grid-template-columns: repeat(4, minmax(200px, 285px));
    column-gap: 20px;
}

._work_card__wrapper {
    position: relative;
    display: inline-block;
}

._work_card__wrapper span {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    right: 29px;
    top: 20px;
}

.reviews {
    padding: 65px 182px;
}

.reviews h2 {
    color: #533738;
    text-align: center;
    margin-bottom: 40px;
}

.reviews__content {
    display: flex;
    align-items: center;
}

.reviews__content__left, .reviews__content__right {
    position: relative;
    display: inline-block;
}

.reviews__content__left:hover, .reviews__content__right:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.reviews__content__left span, .reviews__content__right span {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.reviews__content__text {
    margin: 0 10px 0 29px;
    color: #533738;
}

.reviews__content__img {
    margin: 0 29px 0 10px;
}

.reviews__content__img img:first-child {
    margin-bottom: 20px;
}

/*Footer*/

.footer__top {
    background: #8D7370;  
}

.footer_main {
    display: flex;
    padding: 0 100px 0 182px;
}

.footer__text h2 {
    color: #FFFFFF;
    margin: 50px 54px 24px 0;
}

.footer__text p {
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0 20px 44px 0;
}

.footer__form {
    display: flex;
    flex-direction: column;
}

::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
}

.footer__form__input {
    border: none;
    border-bottom: 1px solid#FFFFFF;
    background-color: transparent;
    color: inherit;
    outline: none;
    max-width: 508px;
    height: 49px;
}

.footer__form__input:focus {
    border-bottom: 4px solid#FFFFFF;
}

.footer__button {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
    background: #CC8B86;
    padding: 25px 66px 24px 68px;
    margin: 31px auto 186px 0;
}

.footer__button {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.footer__button:hover {
    box-shadow: 0 0 40px 40px #E5E5E5 inset;
    color: #533738;
    border-radius: 10px;
}

.footer__contacts {
    display: flex;
    padding: 37px 100px;
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

.footer__contacts li:first-child {
    margin-right: 42px;
}

.footer__contacts li:last-child {
    margin-left: auto;
}